footer{
    background: #000000;
    height: 30vh;
    color: white;
    padding-top: 2%;
    
}
footer > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
footer div div{
    width: 50%;
}
footer p{
    text-align: center;
    margin-top: 4%;
}
footer ul{
    display: flex;
    text-align: center;
    justify-content: center;
}
footer li{
    padding: 5%;
}
@media(max-width:500px){
    #footer p{
        font-size: 0.8rem;
    }
}